BOT_TOKEN=""
BOT_DEV_IDS="1417595044"

AI_GIGACHAT_CREDENTIALS=""
AI_GIGACHAT_MODEL=""
AI_GIGACHAT_TEMPERATURE=0.7
AI_GIGACHAT_MAX_TOKENS=2000

REDIS_HOST=""
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_DB=""

TMDB_API_KEY=""
TMDB_BASE_URL="https://api.themoviedb.org/"

LIMIT_MAX_HISTORY_LENGTH=20
LIMIT_MAX_REQUESTS_PER_MINUTE=10
LIMIT_SESSION_TIMEOUT_HOURS=24

LOGS_DIR="logs"
BACKUP_DIR="backups"